.pagination-spaced .page-item {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .pagination-spaced .page-item {
    margin-right: 15px;
  }
}

.page-item.disabled .page-link {
  pointer-events: none;
  cursor: default;
}

/* Adicione estilos para layout mobile */
@media (max-width: 767px) {
  .pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Esconde os botões "Anterior" e "Próximo" */
  .pagination-container .prev-button,
  .pagination-container .next-button {
    display: none;
  }

  /* Mantém visíveis os números das páginas */
  .pagination-container .pagination {
    margin: 0;
  }
}
